body{
	background-color:#3399FF;
}

#wrapper{
	width:960px;
	min-height:1000px;
	margin:auto;
	margin-top:-42px;
	background-color:white;
}

header{
	height:150px;
	background-color:#CCCCFF;
	margin-bottom:50px;
	margin-top:-42px;
}

h1{
	padding-top:50px;
	font-size: 50px;
	text-align:center;
	color:white;
}

#wys{
	margin:auto;
	width:920px;
	margin-bottom:20px;
}

#wyg{
	margin:auto;
	width:920px;
}

#pref{
	margin:auto;
	width:920px;
}

#pref2{
	margin:auto;
	width:920px;
}

#titlePage{
	margin:auto;
	width:920px;
}

#conclPage{
	margin:auto;
	width:920px;
}

#aframe{
	margin:auto;
	width:920px;
}

#frame1{
	width:920px;
	height:480px;
}

label{
	display: block;
	width: 150px;
	float: left;
}

#xmlContent{
	white-space:pre-wrap;
}

footer{
	width:960px;
	min-height:50px;
	margin:auto;
	background-color:white;
	margin-bottom:-20px;
	margin-top:-20px;
}
